{% load custom_tag %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" id= "show_filters" class="btn btn-lg navbar-toggle collapsed" style="background-color:transparent; box-shadow: none;" data-toggle="collapse" data-target="#toggleFilters"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sliders" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/>
                </svg>
                Filtros
            </button>     
        </div>
        <hr style="width:100%", size="3", color=black>  
        <div class="collapse navbar-collapse" id="toggleFilters">
            <ul class="nav navbar-nav" id="nav">
                <div class="row">
                    <div class="col">
                        <strong>Tipo de búsqueda</strong>
                        <hr style="width:100%", size="3", color=black> 
                        <br>
                        {% for type_search in types_searches%}
                        {% if type_search.selected is 1%}
                        <li class="nav-link active">{{ type_search.name }}</li>
                        {% else %}
                        <li class="nav-link active"><a href="{% url 'search' type_search=type_search.url %}?buscar={{latest_search}}" title= "Types search">{{ type_search.name }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col">
                        <strong>Sesiones</strong>
                        <hr style="width:100%", size="3", color=black> 
                        <br>
                        <table>
                        {% for session in sessions%}
                        <tr>
                        {% if diplay_sessions_link is 1 %}
                        {% if session.selected is 1%}
                            <td>
                                <li class="nav-link active">
                                    <a href="{{ request|delete_value:session.name }}" style="text-decoration: none; color: inherit;"> {{ session.name }} </a>
                                </li>
                            </td>
                            <td>
                                <a href="{{ request|delete_value:session.name }}" style="text-decoration: none; color: inherit;"> X </a>
                            </td>
                        {% else %}
                        <td>
                        <li class="nav-link active"><a href="{{ request.get_full_path }}&sesion={{session.name}}"> {{ session.name }} </a></li>
                        </td>
                        {% endif %}
                        {% else %}
                        <td>
                            <li class="nav-link disabled"> {{ session.name }} </li>
                        </td>
                        {% endif %}
                        </tr>
                        {% endfor %}
                        </table>
                    </div>  
                    <div class="col">
                        <strong>Modalidades</strong>
                        <hr style="width:100%", size="3", color=black> 
                        <br>
                        <table>
                        {% for modal in modals%}
                        <tr>
                        {% if diplay_sessions_link is 1 %}
                        {% if modal.selected is 1%}
                            <td>
                                <li class="nav-link active">
                                    <a href="{{ request|delete_value:modal.name }}" style="text-decoration: none; color: inherit;"> {{ modal.name }} </a>
                                </li>
                            </td>
                            <td>
                                <a href="{{ request|delete_value:modal.name }}" style="text-decoration: none; color: inherit;"> X </a>
                            </td>
                        {% else %}
                            <td>
                            <li class="nav-link active"><a href="{{ request.get_full_path }}&modalidad={{modal.name}}"> {{ modal.name }} </a></li>
                            </td>
                        {% endif %}
                        {% else %}
                            <td>
                                <li class="nav-link disabled"> {{ modal.name }} </li>
                            </td>
                        {% endif %}
                        </tr>
                        {% endfor %}
                        </table>
                    </div>
                    <div class="col">
                        <strong>Retribuciones</strong>
                        <hr style="width:100%", size="3", color=black> 
                        <br>
                        <table>
                        {% for retribution in retributions%}
                        <tr>
                        {% if diplay_sessions_link is 1 %}
                        {% if retribution.selected is 1%}
                            <td>
                                <li class="nav-link active">
                                    <a href="{{ request|delete_value:retribution.name }}" style="text-decoration: none; color: inherit;"> {{ retribution.name }} </a>
                                </li>
                            </td>
                            <td>
                                <a href="{{ request|delete_value:retribution.name }}" style="text-decoration: none; color: inherit;"> X </a>
                            </td>
                        {% else %}
                            <td>
                            <li class="nav-link active"><a href="{{ request.get_full_path }}&retribucion={{retribution.name}}"> {{ retribution.name }} </a></li>
                            </td>
                        {% endif %}
                        {% else %}
                            <td>
                                <li class="nav-link disabled"> {{ retribution.name }} </li>
                            </td>
                        {% endif %}
                        </tr>
                        {% endfor %}
                        </table>
                    </div>
                    <div class="col">
                        <strong>Regiones</strong>
                        <hr style="width:100%", size="3", color=black> 
                        <br>
                        <table>
                        {% for region in regions%}
                        <tr>
                        {% if diplay_sessions_link is 1 %}
                        {% if region.selected is 1%}
                            <td>
                                <li class="nav-link active">
                                    <a href="{{ request|delete_value:region.name }}" style="text-decoration: none; color: inherit;"> {{ region.name }} </a>
                                </li>
                            </td>
                            <td>
                                <a href="{{ request|delete_value:region.name }}" style="text-decoration: none; color: inherit;"> X </a>
                            </td>
                        {% else %}
                            <td>
                            <li class="nav-link active"><a href="{{ request.get_full_path }}&region={{region.name}}"> {{ region.name }} </a></li>
                            </td>
                        {% endif %}
                        {% else %}
                            <td>
                                <li class="nav-link disabled"> {{ region.name }} </li>
                            </td>
                        {% endif %}
                        </tr>
                        {% endfor %}
                        </table>
                    </div>
                    <div class="col">
                        <strong>Calificación</strong>
                        <hr style="width:100%", size="3", color=black> 
                        
                        <br>
                        <table>
                        {% for score in scores%}
                        <tr>
                        {% if diplay_sessions_link is 1 %}
                        {% if score.selected is 1%}
                            <td>
                                <li class="nav-link active">
                                    <a href="{{ request|delete_value:score.url }}" style="text-decoration: none; color: inherit;"> {{ score.name }} </a>
                                </li>
                            </td>
                            <td>
                                <a href="{{ request|delete_value:score.url }}" style="text-decoration: none; color: inherit;"> X </a>
                            </td>
                        {% else %}
                            <td>
                            <li class="nav-link active"><a href="{{ request.get_full_path }}&calificacion={{score.url}}"> {{ score.name }} </a></li>
                            </td>
                        {% endif %}
                        {% else %}
                            <td>
                                <li class="nav-link disabled"> {{ score.name }} </li>
                            </td>
                        {% endif %}
                        </tr>
                        {% endfor %}
                        </table>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>
