    <a href="{% url 'chatlobby'%}" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-chat-left-text-fill"
             viewBox="0 0 16 16">
            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
        </svg>
    <span class="badge bg-primary notification-badge">{{notifications.count}}</span>
</a>
<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
    {% if notifications.count > 0 %}
    {% for notification in notifications %}
    {% if notification.is_new_message %}
    <li><a class="dropdown-item" href="#">
        {{notification.from_user.get_full_name}} te he enviado un mensaje.
    </a></li>
    {% elif notification.is_new_reply %}
    <li><a class="dropdown-item" href="#">
        {{notification.from_user.get_full_name}} ha respondido tu mensaje.
    </a></li>
    {% endif %}
    {% endfor %}
    {% else %}
    <li><a class="dropdown-item" href="#">
        No tienes notificaciones de mensaje.
    </a></li>
    {% endif %}
    <div class="dropdown-divider"></div>
    <li><a class="dropdown-item" href="{% url 'chatlobby'%}">Ver todos los mensajes</a></li>
</ul>


