{% extends "baseSearch.html" %}
{% block content %}
{% for result in results %}

<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{result.name}}</h5> 
                <h6 class="card-subtitle mb-2"><a  href= "{{result.url}}"> Link del recurso </a></h6>
                <p class="card-text">{{result.description}}</p>   
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endblock content %}