<!DOCTYPE html>

<html>
<head>
    {% include "baseHead.html" %}
</head>
<body>
{% include "tutorHeader.html" %}
<div class="container-fluid">
    <div class="form-check">
        <div class="col-md-8 offset-md-2 mt-2">
            {% include 'messages.html' %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" class="text-center">Solicitante</th>
                    <th scope="col" class="text-center">Número de solicitantes</th>
                    <th scope="col" class="text-center">Entorno</th>
                    <th scope="col" class="text-center">Inicia</th>
                    <th scope="col" class="text-center">Termina</th>
                    <th scope="col" class="text-center"></th>
                    <th scope="col" class="text-center"></th>
                    <th scope="col" class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                {% for request in requests %}
                <tr>
                    <td class="text-center"><a href="#">{{request.user_requester.get_full_name}}</a></td>
                    <td class="text-center">{{request.num_requesters}}</td>
                    <td class="text-center">{{request.display_meeting_type}}</td>
                    <td class="text-center">{{request.date_start}}</td>
                    <td class="text-center">{{request.date_end}}</td>
                    <td><a href="{% url 'tutor_pending_requests' request.id %}?accion=ver"
                           class="btn btn-primary button-blue">Ver</a></td>
                    <td><a href="{% url 'tutor_pending_requests' request.id %}?accion=aceptar"
                                class="btn btn-success" title="Aceptar tutoría">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477
                            9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75
                             0 0 0-.01-1.05z"/>
                        </svg>
                    </a></td>
                    <td><a href="{% url 'tutor_pending_requests' request.id %}?accion=rechazar"
                                class="btn btn-danger" title="Rechazar tutoría">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647
                            2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5
                            0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                        </svg>
                    </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
