<!DOCTYPE html>

<html>
    <head>
        {% include "baseHead.html" %}
    </head>

    <body>
        {% include "tutorHeader.html" %}
        <div class = "container-fluid">
            {% include 'messages.html' %}
            <div class="form-check">
                <form action="cursos" method = "POST" style="margin-top: 2vw;">
                    {% csrf_token %}
                    <div class="form-row justify-content-center">
                        <div class="col-md-5 my-1 text-center">
                            {{ add_course_form.as_p }}
                        </div>
                        <div class="col-auto my-1 text-center">
                            <input type="submit" class="btn btn-primary button-blue" value="Agregar">
                        </div>
                    </div>
                </form>

                <div class="col-md-8 offset-md-2 mt-2">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col" class="text-center">Cursos agregados</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for course in added_courses %}
                            <tr>
                                <td class="text-center">{{course.name}}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </body>
</html>